<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap" rel="stylesheet">


    <title>Pin Weather</title>
    <style>
        #card {
            background-color: #ffffff;
            border-radius: 10px;
            padding: 15px 0px;
            margin: 0px auto 20px;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        }
        #card:focus , #card:hover {
        box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
         }






    </style>

</head>
<body style="font-family:serif; background: rgb(255,249,199); background: linear-gradient(90deg, rgba(255,249,199,1) 1%, rgba(152,238,255,1) 100%);">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <!--  Show this only on mobile to medium screens  -->
    <a class="navbar-brand d-lg-none" href="/" style="font-family: 'Cinzel', serif;color:#FFF9C8">PIN WEATHER</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
            aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" style="color:#99EEFE"></span>
    </button>

    <!--  Use flexbox utility classes to change how the child elements are justified  -->
    <div class="collapse navbar-collapse justify-content-between" id="navbarToggle">

        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" href="/imperial" style="color:#FFF9C8; font-size:20px">Imperial <span
                        class="sr-only">(current)</span></a>
            </li>
        </ul>


        <!--   Show this only lg screens and up   -->
        <a class="navbar-brand d-none d-lg-block" href="/"
           style="font-family: 'Cinzel', serif; font-size:40px;color:#CEF4E2;">PIN WEATHER</a>


        <ul class="navbar-nav">

            <li class="nav-item">
                <a class="nav-link active" href="http://pinweather.herokuapp.com/api"
                   style="color:#99EEFE; font-size:20px">API</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container my-5">


    <form class="form-inline no-gutters" action="/" method="POST">
        {% csrf_token %}
        <div class="form-group mx-sm-3 mb-2">

            <input type="text" class="form-control" id="inputPassword2" name='city' placeholder="Enter city name">
        </div>
        <button type="submit" class="btn btn-dark mb-2 mx-2" style="color:#CEF4E2">Add City</button>

    </form>
    <a href="/imperial">
        <button type="button" class="btn btn-dark my-2 mx-sm-3" style="color:#CEF4E2">Change to Imperial units</button>
    </a>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-danger alert-dismissible fade show my-4" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}


</div>
<div class="container my-5">
    <div class="row">
        <!--start here-->

        {% for wet in weather_data %}
        <div class="col-md-6">
            <div id='card'>


                <div class="container">
                    <div class="row">
                        <div class="col-2"><img src="http://openweathermap.org/img/w/{{wet.icon}}.png"></div>
                        <div class="col-10">
                            <div class="row">
                                <div class="col-12" style="font-family: 'Cinzel', serif;"><h1>{{ wet.city }},
                                    {{wet.country}}</h1></div>


                            </div>
                            <div class="row">
                                <div class="col-md-5"><h3 style="">
                                    {{wet.temperature }}°{{wet.unit}}</h3></div>
                                <div class="col-md-7" style="padding-top: 8px;">
                                    <h5 style="font-family: 'Times New Roman', Times, serif;">
                                        high: {{wet.high}}°{{wet.unit}} Low: {{wet.low}}°{{wet.unit}} </h5></div>
                            </div>


                            <div class="row">
                                <div class="col-md-5">
                                    <h5> {{ wet.description }}</h5>
                                    Feels Like : {{wet.feel}}°{{wet.unit}}
                                    Humidity : {{wet.humidity}}% <br>
                                    Pressure : {{wet.pressure}}hPa <br>
                                    Wind Speed : {{wet.winds}}m/s <br>
                                    Wind Direction : {{wet.windd}}°<br>
                                    Visibility : {{wet.visibility}}m <br>
                                    Clouds : {{wet.clouds}}% <br>

                                    <br>
                                </div>
                                <div class="col-md-7 mb-3 " style="">
                                    <div class="mx-sm-4">
                                        <h6 class="mx-sm-2">{{wet.sunrise}}</h6>
                                        <img src="static/sun1.jpg" height="150px"
                                             width="150px">
                                        <h6 class="mx-sm-2">{{wet.sunset}}</h6>
                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>

                    <div style="text-align:center;">
                        <a href="/delete/{{wet.id}}">
                            <button type="button" class="btn btn-dark">Remove</button>
                        </a>

                    </div>


                </div>

            </div>
        </div>
        {% endfor %}
        <!-- end here-->


    </div>


</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>